footer {
    background-color: #d9edf7;
    position: absolute;
    width: 100%;
    clear: both;
    bottom: 0;
}
.from{
    color: blue;
}
.to{
    color: red;
}
.userheader{
    z-index: 2;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.panel-default{
    height: 450px;
    overflow: auto;
}
#usernick{
    font-weight: bold;
    color: #d9534f;
}
.time{
    float: right;
    color: #2e6da4;
}
